body {
	margin: 0;
	padding: 0;
}


.rosado{
	background-color:#ee3e64;; 
	height: 200px;
	width: 200px;
	position: static;
	
	
	
	
}

.celeste{
	background-color: #44accf;;
	height: 200px;
	width: 200px;
	position: static;
	
	
}

.verde{
	background-color:#b7d84b; 
	height: 200px;
	width: 200px;
	position: static;
	
	

}
